<h1>ampm Pro Audio - Product Catalog</h1>
<p>Total Products: <%= @products.count %></p>

<ul>
  <% @products.each do |product| %>
    <li>
      <strong><%= link_to product.product_name, product %></strong><br>
      Category: <%= product.category.category_name %><br>
      Price: <%= number_to_currency(product.price) %>
    </li>
    <br>
  <% end %>
</ul>