<body>
    <nav style="padding: 15px; background: #eee; margin-bottom: 20px;">
      <%= link_to "Home (Catalog)", root_path %> | 
      <%= link_to "About the Project", about_path %> |
      <strong><%= link_to "Cart (#{session[:cart].values.sum})", cart_path %></strong>
    </nav>
    
    <div style="padding: 0 20px;">
      <%= yield %>
    </div>
  </body>